@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

$Soft_orange: hsl(10, 79%, 65%);
$Cream: hsl(27, 66%, 90%);
$Pale_orange: hsl(33, 100%, 98%);
$Dark_brown: hsl(25, 47%, 15%);
$Padding_Y: 1rem;
$Padding_X: 1.35rem;
$Transition_me: 0.3s;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "DM Sans", sans-serif;
  font-size: 18px;
}

@mixin centerAll($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin circle {
  width: 2.5rem;
  height: 2.5rem;

  border-radius: 50%;
}

body {
  background-color: $Cream;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;

  .balance {
    background-color: $Soft_orange;
    width: 100%;
    height: 4rem;
    padding-block: $Padding_Y;
    padding-inline: $Padding_X;
    margin-bottom: $Padding_Y;

    @include centerAll(space-between);
    border-radius: 0.75rem;

    .information {
      color: $Cream;

      #title {
        font-size: 12px;
      }
      #balanceAmount {
        font-size: 22px;
      }
    }

    .logo {
      @include centerAll(center);

      #whiteCircle {
        @include circle();

        position: relative;
        left: 20%;
        border: 2.5px solid $Cream;
      }

      #darkCircle {
        @include circle();

        background-color: $Dark_brown;
      }
    }
  }

  .spending,
  .belowInfo {
    background-color: $Pale_orange;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;

  padding-block: $Padding_Y;
  color: $Dark_brown;

  #githubProfile {
    color: $Soft_orange;
    font-weight: 700;
    text-decoration: none;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $Soft_orange;
      transform-origin: bottom right;
      transition: transform $Transition_me ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
